{
    # Auto HTTPS unless disabled
    auto_https on
}

healthymaisha.com, www.healthymaisha.com {
    root * /srv/dist
    file_server
    encode gzip

    @notFound {
        path_regexp .*
    }
    handle @notFound {
        respond "404 Not Found" 404
    }
}
